@charset "utf-8";



/*** coffeebeanrecruit.css *************************************************************************************************/

@import url(/css/header.css);
@import url(/css/footer.css);


/*** SECTION **************************************************************************************************/

/*** .breadcrumb ****************************************************************************************/
.breadcrumb {
    margin-top: 140px;

    background-color: rgb(124,81,161);
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.breadcrumb ul li {
    /* outline: 1px solid lime; */

    margin-right: 20px;
    background: url(../img/img_arr_location.png) no-repeat right;
    padding-right: 24px;
}

.breadcrumb ul li:last-child {
    background: none;
    padding-right: 0;
}

.breadcrumb ul li a {
    color: rgb(255,255,255);
}



/*** section .title 공통클래스 *************************************************************************************/

section .title {
    color: rgb(207,102,26);
    font-size: 18px;
}


/*** main ****************************************************************************************/
main {
    background: url(../img/bg_recruit_main.jpg) no-repeat bottom;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto 60px;

    position: relative;  /* main::before의 기준!! */
}

main::before {
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

main .des-wrap {
    /* outline: 2px solid red; */

    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

main .des-wrap .title {
    margin-bottom: 160px;
}

main .des-wrap p {
    /* background-color: lightgray; */

    font-size: 20px;
    text-align: center;
    line-height: 2rem;
    color: rgb(255,255,255);
}

main .des-wrap p.point {
    color: rgb(243,130,0);
}



/*** article 1. 핵심역량 & article 2. 입사지원 (공통 클래스) ****************************************************************************************/
article {
    width: 1280px;
    margin: 0 auto 80px;
}

article .title {
    text-align: center;
    background: url(../img/bg_bar6.gif) repeat-x center;
    margin-bottom: 40px;
}

article .title  span {
    background-color: rgb(255,255,255);
    padding: 0 30px;
}


/*** .core-competencies ****************************************************************************************/
article.core-competencies .explain-box {
    /* background-color: lightpink; */
    width: 100%;
}

.explain-box li {
    /* outline: 2px solid red; */

    width: 32%;
    text-align: center;
}
.explain-box li~li {
    margin-left: 2%;
}
.explain-box li img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.explain-box li h3 {
    color: rgb(207,102,26);
    font-size: 20px;
    margin-bottom: 16px;
}
.explain-box li p {
    color: rgb(47,28,17);
    line-height: 1.6;
}


/*** .aply-links ****************************************************************************************/
article.aply-links {
    margin-bottom: 150px;
}

.aply-links .links-box {
    /* outline: 2px solid red; */

    width: 100%;
}
.aply-links .links-box li {
    width: 300px;
    text-align: center;

   /*  outline: 1px solid blue; */
}
.aply-links .links-box li:first-child {
    margin-left: 190px;
}

.aply-links .links-box li .illustration {
    margin-bottom: 20px;
}
.aply-links .links-box li .illustration img {
    display: block;
    margin: 0 auto;
}

.aply-links .links-box li h3 {
    font-size: 20px;
    color: rgb(47,28,17);
    margin-bottom: 15px;
}

.aply-links .links-box li p {
    color: rgb(124,81,161);
    margin-bottom: 15px;
}

.aply-links .links-box li a {
    background-color: rgb(124,81,161);
    color: rgb(255,255,255);

    display: inline-block;
    width: 150px;
    line-height: 2rem;
    margin-bottom: 5px;
}

.aply-links .links-box li.part-timer p {
    color: rgb(207,102,26);
}
.aply-links .links-box li.part-timer a {
    background-color: rgb(243,130,0);
    color: rgb(255,255,255);
}